src/main/mule/global/retrive-travelontip-routes-schedule-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="retrive-travelontip-routes-schedule-sapi-main">
        <http:listener config-ref="retrive-travelontip-routes-schedule-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrive-travelontip-routes-schedule-sapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
                 </error-handler>
    </flow>
    <flow name="retrive-travelontip-routes-schedule-sapi-console">
        <http:listener config-ref="retrive-travelontip-routes-schedule-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrive-travelontip-routes-schedule-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\(transpoartType)\(transpoartCompany)\routes:retrive-travelontip-routes-schedule-sapi-config">
        <logger level="INFO" doc:name="Logger" doc:id="771442e3-a02d-4deb-8161-534ff664efda" message="Request Received for get routes on TravelOnTip"/>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transpoartType">attributes.uriParams.'transpoartType'</ee:set-variable>
                <ee:set-variable variableName="transpoartCompany">attributes.uriParams.'transpoartCompany'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="78085eda-99bc-4b9b-a79d-07206c668077" name="traveoOnTip-getRoutes-implementationFlow"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    originLocation: {
      locationCode: "SAP-AP"
    },
    destinationLocation: {
      locationCode: "FRC-AS"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\(transpoartType)\(transpoartCompany)\schedules:retrive-travelontip-routes-schedule-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transpoartType">attributes.uriParams.'transpoartType'</ee:set-variable>
                <ee:set-variable variableName="transpoartCompany">attributes.uriParams.'transpoartCompany'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="9f7f7b47-dcd9-4b88-a3ac-d5cccbeb6c7c" name="travelOnTip-getSchedules-implementationFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="6703bade-7e9e-4696-b2da-c31ddcf9a0e8" message="Request Received for get schedules on TravelOnTip" />
    </flow>
</mule>
